@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-primary;
  }

}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .card_grad {
    background: linear-gradient(90deg, #141B1A 58%, #1B2624 100%);
  }


  .fancy_grad_bg {
    background: linear-gradient(90deg, #EF0E7E 0%, #9138F0 100%);

  }

  .fancy_grad_text {
    background: linear-gradient(90deg, #EF0E7E 0%, #9138F0 100%);
    /* Define your gradient here */
    -webkit-background-clip: text;
    /* Clip background to text (for webkit browsers like Chrome, Safari) */
    background-clip: text;
    /* Clip background to text (for other browsers) */
    color: transparent;
    /* Make the text color transparent to reveal the background gradient */
  }

  .heading_grad {
    background: linear-gradient(180deg, #FFFFFF 0%, #99999920 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .bold-text{
    @apply font-bold text-white;

  }

  .link-text{
    @apply underline-offset-4 hover:underline font-bold text-white;
  }

}